# Dependencias
/node_modules
/cliente/node_modules
/servidor/node_modules

# Archivos de producción
/cliente/build
/servidor/dist

# Archivos de entorno - ¡MUY IMPORTANTE!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/